.button{
  min-width: 100px;
  padding: 10px 15px;
  border: 1px solid #1E86FF;
  background-color: #1E86FF;
  font-size: 14px;
  position: absolute;
  background: #1E86FF;
  border-radius:4px;
  color:white;
  cursor: pointer;
  margin-top:4px;
  margin-right: 4px;
  font-weight: bold;

}
.button-second{
  padding: 5px 10px;
  position:absolute;
  border: 2px solid #334680;
  background-color: white;
  color:#334680;
  margin-left: 6.9rem;
  margin-top: 4.3rem;
  font-weight: bold;
}